{% extends 'base.html.twig' %}
{% block title %} Inscription {% endblock %}
{% block h1 %} Inscription {% endblock %}

{% block main %}
{{ form_start(form) }}
    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}
    {{ form_row(form.termsAccepted) }}

    <button type="submit">S'inscrire</button>

{{ form_end(form) }}
{% endblock %}