{% extends 'base.html.twig' %}
{% block title %} Publication - 2 - Catégorie {% endblock %}

{% block h1 %}Publication{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Accueil</a></li>
            <li class="breadcrumb-item"><a href="{{ path('publication_step1') }}">Resource</a></li>
            <li class="breadcrumb-item active" aria-current="page">Catégorie</li>
        </ol>
    </nav>
{% endblock %}
{% block main %}

    <h4>
        Classons notre ressource pour la retrouver facilement
    </h4>

    {{ form_start(form) }}

    {{ form_errors(form.title_category) }}
    {{ form_row(form.title_category) }}

    <button type="submit" class="btn btn-success">Continuer</button>
    {{ form_end(form) }}
{% endblock %}
