{% extends 'base.html.twig' %}
{% block title %} Publier une ressource{% endblock %}

{% block h1 %}Publication{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Accueil</a></li>
            <li class="breadcrumb-item"><a href="{{ path('publication_step1') }}">Etape 1</a></li>
            <li class="breadcrumb-item"><a href="{{ path('publication_step2') }}">Etape 2</a></li>
            <li class="breadcrumb-item active" aria-current="page">Etape 3 : Récapitulatif</li>
        </ol>
    </nav>
{% endblock %}
{% block main %}
    <h2>Récapitulatif</h2>
    <h4>Catégorie</h4>
    <p>
        {{ category.title }}
    </p>

    <h4>Sujet</h4>
    <p>
        {{ subject.title }}
    </p>

    <h4>Resource</h4>
    <p>
        {{ resource.title }} <br>
        {{ resource.summary }} <br>
        {{ resource.link }} <br>
        {{ resource.tag }} <br>
    </p>


    <button type="submit" class="btn btn-success">Publier</button>
{% endblock %}