{% extends 'base.html.twig' %}
{% block title %} Publication - 2 - Catégorie {% endblock %}

{% block h1 %}Publication{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Accueil</a></li>
            <li class="breadcrumb-item"><a href="{{ path('publication_step1') }}">Resource</a></li>
            <li class="breadcrumb-item active" aria-current="page">Sujet</li>
        </ol>
    </nav>
{% endblock %}
{% block main %}
    <div class="container">
        <h4>
            Classons notre ressource pour la retrouver facilement
        </h4>
        <p>Quel est le sujet de la ressource?</p>

        {{ form_start(form) }}

        {{ form_errors(form.subject_title) }}
        <div class="ui-widget">
            {{ form_row(form.subject_title) }}
        </div>
        <button type="submit" class="btn btn-success">Continuer</button>
        {{ form_end(form) }}
        <p id="subject_list" style="display: none" data-subject="{{ subjectList|json_encode|e("html_attr")}}"></p>
    </div>

{% endblock %}
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            var data_list = jQuery('#subject_list').data('subject');
            console.log(data_list);
            $("#select_subject_subject_title").autocomplete({
                source: data_list
            });
        });
    </script>
{% endblock %}

