{% extends 'Display/show.html.twig' %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Accueil</a></li>
            <li class="breadcrumb-item"><a href="{{ path('show') }}">catégories</a></li>
            <li class="breadcrumb-item active" aria-current="page">Sujets</li>
        </ol>
    </nav>
{% endblock %}

{% block subject %}
    <div>
        {% if subjects is defined %}
            {% if subjects is not null %}
                {% for subject in subjects %}
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ subject.title }}</h5>

                            <div id="carousel-{{ subject.id }}" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    {% for resource in subject.resources %}
                                        <div class="carousel-item active">
                                            <h6 class="text-center"><a href="{{ resource.link }}">{{ resource.title }}</a></h6>
                                            {% if resource.summary is defined %}
                                                {% if resource.summary is not null %}
                                                    <p class="text-center">{{ resource.summary }}</p>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                                <a class="carousel-control-prev" href="#carousel-{{ subject.id }}" role="button"
                                   data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Précédent</span>
                                </a>
                                <a class="carousel-control-next" href="#carousel-{{ subject.id }}" role="button"
                                   data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Suivant</span>
                                </a>
                            </div>

                            <p class="card-text">Sujet ajouté par : {{ subject.user.username }} | Dernière mise à
                                jour {{ subject.updateDate|date("d/m/Y") }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Aucun sujet sélectionnés</p>
            {% endif %}
        {% else %}
            <p>Aucun sujet sélectionnés</p>
        {% endif %}
    </div>
{% endblock %}