{% if subjects is defined %}
    {% if subjects is not null %}
        {% for subject in subjects %}
            <div class="card subject-card">
                <div class="card-body">
                    <h5 class="card-title">{{ subject.title|capitalize }}</h5>

                    <div id="carousel-{{ subject.id }}" class="carousel slide" data-ride="carousel"
                         data-interval="false">
                        <div class="carousel-inner justify-content-center">
                            {% for resource in subject.resources %}
                                {% if loop.index == loop.first %}
                                    <div class="subject_item carousel-item active">
                                        <h6 class="text-center">
                                            <a href="{{ resource.link }}">{{ resource.title|capitalize }}</a>
                                        </h6>
                                        {% if resource.summary is defined %}
                                            {% if resource.summary is not null %}
                                                <div class="text-center w-75 mx-auto">
                                                    <p>{{ resource.summary }}</p>
                                                    <p>ajouté par : {{ resource.user.username }}
                                                        le {{ resource.updateDate|date("d/m/Y") }}</p>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                {% else %}
                                    <div class="subject_item carousel-item">
                                        <h6 class="text-center">
                                            <a href="{{ resource.link }}">{{ resource.title|capitalize }}</a>
                                        </h6>
                                        {% if resource.summary is defined %}
                                            {% if resource.summary is not null %}
                                                <div class="text-center w-75 mx-auto">
                                                    <p>{{ resource.summary }}</p>
                                                    <p>ajouté par : {{ resource.user.username }}
                                                        le {{ resource.updateDate|date("d/m/Y") }}</p>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                {% endif %}
                                {% if loop.first != loop.last %}
                                    <a class="carousel-control-prev" href="#carousel-{{ subject.id }}" role="button"
                                       data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Précédent</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carousel-{{ subject.id }}" role="button"
                                       data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Suivant</span>
                                    </a>
                                {% endif %}

                            {% endfor %}
                        </div>

                    </div>

                    <div class="card-text row justify-content-between">
                        <span class="col-4">Sujet ajouté par : {{ subject.user.username }}</span>
                        <span class="col-1">
                            <a href="{{ path('publication_step1', {'subject': subject.title }) }}">
                                <i class="fas fa-plus" title="ajouter une resource à ce sujet"></i>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>Aucun sujet sélectionnés</p>
    {% endif %}
{% else %}
    <p>Aucun sujet sélectionnés</p>
{% endif %}
