<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Plate-forme d'échange d'information pour les étudiants d'informatique">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Bulle d'info - {% block title %}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('darkly/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        <link rel="stylesheet" href="{{ asset('css/jquery-ui.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/jquery-ui.structure.css') }}">
        <link rel="stylesheet" href="{{ asset('css/jquery-ui.theme.min.css') }}">
    {% endblock %}
</head>
<body>
<header>
    <!------------ Navbar ------------>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="{{ path('homepage') }}">Bulle Info</a>
        <ul class="navbar-nav mr-auto">
        </ul>
        <div class="row text-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        {% if path == 'show' %}
                            <div class="nav-link active">
                                Explorer
                            </div>
                        {% else %}
                            <a class="nav-link" href="{{ path('show') }}">
                                Explorer
                            </a>
                        {% endif %}
                    </li>
                    {% if (is_granted('IS_AUTHENTICATED_FULLY') or is_granted('IS_AUTHENTICATED_REMEMBERED')) %}
                        <li class="nav-item">
                            {% if path == 'publication' %}
                                <div class="nav-link active">
                                    Publier
                                </div>
                            {% else %}
                                <a class="nav-link" href="{{ path('publication_step1') }}">
                                    Publier
                                </a>
                            {% endif %}
                        </li>
                        {% if is_granted('ROLE_USER') %}
                            <li class="nav-item">
                                {% if path == 'change_info' %}
                                    <div class="nav-link active">
                                        Mon Compte
                                    </div>
                                {% else %}
                                    <a class="nav-link" href="{{ path('user_info') }}">
                                        Mon Compte
                                    </a>
                                {% endif %}
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('deconnexion') }}">Déconnexion</a>
                            </li>
                        {% endif %}
                    {% else %}
                        <li class="nav-item">
                            {% if path == 'login' %}
                                <div class="nav-link active">
                                    Connexion
                                </div>
                            {% else %}
                                <a class="nav-link" href="{{ path('connexion') }}">
                                    Connexion
                                </a>
                            {% endif %}

                        </li>
                        <li class="nav-item">
                            {% if path == 'registration' %}
                                <div class="nav-link active">
                                    Inscription
                                </div>
                            {% else %}
                                <a class="nav-link" href="{{ path('user_registration') }}">
                                    Inscription
                                </a>
                            {% endif %}
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {% block header_img %}
    {% endblock %}

</header>
<main>
    <div class="container-fluid">
        <div class="text-center row h-25">
            {% block h1 %}{% endblock %}
        </div>
        <div class="container">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            {% block breadcrumbs %}{% endblock %}

        </div>
        {% block main %}{% endblock %}
    </div>
</main>
<footer class="footer">
    <div class="container text-center">
        <span class="text-muted">@2018 </span><span><a href="{{ path('mentions') }}" class="text-muted">Mentions légales</a></span>

    </div>

</footer>
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>
